body {
	font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	font-variant-ligatures: common-ligatures;
}

.cp_button {
	background: #60a3ff url("images/mp_logo.png") no-repeat scroll 20px 10px;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	padding: 5px 20px 5px 46px;
	cursor: pointer;
}

.cp_button:hover {
	background-color: #4e82cc;
}

.cp_close {
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: #9E9E9E;
	font-weight: bold;
}

.cp_overlay {
	display: block;
	background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999;
	transition: all .5s ease;
	text-shadow: none;
	text-align: none;
}

.cp_mainarea header {
	color: #60a3ff;
	background: transparent 0 0 no-repeat url("images/mp_logo2.png");
	line-height: 30px;
	margin: 10px;
}

header .cp_title {
	padding: 0 0 0 38px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}

.cp_disable {
	display: none;
}

.cp_mainarea {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	height: 460px;
	left: calc((100% - 460px) / 2);
	position: absolute;
	top: calc((100% - 460px) / 2);
	width: 460px;
	transition: all .5s ease;
	background: #ffffff bottom left no-repeat url("images/mp_scan.png");
}

.cp_qrarea {
	height: 256px;
	margin: 10px auto;
	padding: 22px 0px;
	width: 256px;
	color: #424242;
}

.cp_qrarea span {
	padding: 20% 0px;
	font-weight: bold;
	display: block;
}

.cp_mainarea footer {
	text-align: center;
	color: #424242;
	width: 100%;
	width: 256px;
	display: block;
	margin: 60px auto;
}